.board {
  border: 1px solid;
  height: 880px;
  width: 880px;
  display: flex; 
  flex-wrap: wrap;;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -440px;
  /* -1/2 width */
  margin-top: -440px;
  /* -1/2 height */
}
.cell {
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.center {
  text-align: center;
}

.black {
  background-color: cadetblue;
}

.white {
  background-color: white;
}

.active {
  background-color:crimson;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #FFF;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}